apiVersion: v1
kind: Secret
metadata:
  name: tunnel-credentials
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: cloudflared
    app.kubernetes.io/part-of: ingress
    app.kubernetes.io/managed-by: ansible
type: Opaque
data:
  credentials.json: {{ tunnel_credentials_content }}